* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(239, 240, 219, 0.589);
}

.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.general {
    width: 400px;
    height: 200px;
    border-radius: 40px;
    border-color: brown;
    margin-bottom: 50px;
}

.general__legend {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    color: rgb(121, 2, 2);
    text-shadow: 1px 1px 2px rgb(248, 137, 137);
}

.general__info {
    font-weight: bold;
    margin-bottom: 25px;
    font-style: italic;
    color: black;
    text-shadow: 2px 2px 4px white;
    margin-left: 25px;
    margin-top: 25px;
}

.button {
    height: 50px;
    width: 300px;
    border: solid rgb(92, 3, 3);
    background-color: rgba(148, 5, 5, 0.658);
    border-radius: 5px;
    color: white;
    font-size: 27px;
    font-style: italic;
    margin-bottom: 25px;
}